*{
    margin: 0;
    box-sizing: border-box;
}




.row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.column1{
    display: flex;   
    flex-direction: column;
    align-items: center;

}
.a{
    border: solid;
    border-radius: 20%;
    color: aliceblue;
    background-color: dimgray;
    padding: .4rem .5rem;
}
.b{
    border: solid;
    border-radius: 20%;
    color: aliceblue;
    background-color: dimgray;
    padding: .4rem .5rem; 
}
.c{
    border: solid;
    border-radius: 20%;
    color: aliceblue;
    background-color: dimgray;
    padding: .4rem .5rem;  
}
.d{
    border: solid;
    border-radius: 20%;
    color: aliceblue;
    background-color: dimgray;
    padding: .4rem .7rem; 
    /* border-radius: 20%;   */
}

.column2{
    display: flex;
    align-items: center;
    justify-content:space-around; 
}
.e{
    border: solid;
    border-radius: 20%;
    color: aliceblue;
    background-color: dimgray;
    padding: .4rem 1rem; 
}
.f{
    border: solid;
    border-radius: 20%;
    color: aliceblue;
    background-color: dimgray;
    padding: .4rem 1rem; 
}
.g{
    border: solid;
    border-radius: 20%;
    color: aliceblue;
    background-color: dimgray;
    padding: .4rem 1rem; 
}
.h{
    border: solid;
    border-radius: 20%;
    color: aliceblue;
    background-color: dimgray;
    padding: .4rem .8rem; 
}
.column3{
    display: flex;
    align-items: center;
    justify-content:space-around; 
}
.i{
    border: solid;
    border-radius: 20%;
    color: aliceblue;
    background-color: dimgray;
    padding: .4rem 1rem; 
}
.j{
    border: solid;
    border-radius: 20%;
    color: aliceblue;
    background-color: dimgray;
    padding: .4rem 1rem; 
}
.k{
    border: solid;
    border-radius: 20%;
    color: aliceblue;
    background-color: dimgray;
    padding: .4rem 1rem; 
}
.l{
    border: solid;
    border-radius: 20%;
    color: aliceblue;
    background-color: dimgray;
    padding: .4rem .9rem; 
}
.column4{
    display: flex;
    align-items: center;
    justify-content:space-around;  
}
.m{
    border: solid;
    border-radius: 20%;
    color: aliceblue;
    background-color: dimgray;
    padding: .4rem 1rem; 
}
.n{
    border: solid;
    border-radius: 20%;
    color: aliceblue;
    background-color: dimgray;
    padding: .4rem 1rem; 
}
.o{
    border: solid;
    border-radius: 20%;
    color: aliceblue;
    background-color: dimgray;
    padding: .4rem 1rem;  
}
.p{
    border: solid;
    border-radius: 20%;
    color: aliceblue;
    background-color: dimgray;
    padding: .4rem .8rem; 
}
.column5{
    display: flex;
    align-items: center;
    justify-content:space-around; 
}
.q{
    border: solid;
    border-radius: 10%;
    color: aliceblue;
    background-color: dimgray;
    padding: .4rem 4rem; 
}
.r{
    border: solid;
    border-radius: 20%;
    color: aliceblue;
    background-color: dimgray;
    padding: .4rem 1rem;
}
.s{
    border: solid;
    border-radius: 20%;
    color: aliceblue;
    background-color: dimgray;
    padding: .4rem .9rem; 
}