
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 
    sans-serif;  
}

.slider{
    position: relative;
    height: 80vh;
    width: 100vw

}
.slider img{
    width: 100%;
    position: absolute;
    top: 0;
    max-height: 80vh;
    object-fit: cover;
    display: none;
    

}
/* .controls{
    position: absolute;
    top:40%
} */

.controls button:first-child{
    position: absolute;
    top: 40%;
    left: 0;
    background-color: white;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

.controls button:nth-child(2){
    position: absolute;
    top: 40%;
    right: 0;
    background-color: white;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}